{% extends 'base.html' %}
{% block content %}
<h1 style="text-align:center;">COURSES OFFERED:</h1>
<br>
<div class="container-fluid bg-secondary row gap-4">
    <div class="col bg-light">
        <h3>Medicine:</h3>
        <p>
            At Gracious Institutes school,<br>
            you will learn how to develop apps for Android devices.<br>
            The course is designed to take you from a<br>
            novice android programmer to an expert with hard work and dedication.<br>
        </p>
    </div>
    <div class="col bg-light">
        <h3>Full Stack:</h3>
        <p>
            At Gracious, we offer a Full Stack Development course<br>
            that equips learners with the knowledge and skills<br>
            to develop robust web and mobile applications.<br>
            Through the course, you will gain proficiency in <br>
            developing and deploying fully functional web and mobile applications.<br>
        </p>
    </div>
    </div>
<br>
    <div class="container-fluid bg-secondary row gap-4">
    <div class="col bg-light">
        <h3>Python:</h3>
        <p>
            Gracious Python development training course is designed to equip learners <br>
            with the skills and knowledge necessary to develop Python-based applications<br>
            and websites. Learners will be able to develop a wide range of outputs,<br>
            including web applications, games, and automation scripts.<br>
        </p>
    </div>
    <div class="col bg-light">
        <h3>Data Science:</h3>
        <p>
            Gracious’ Data Science course is designed to equip learners<br>
            with the necessary skills to extract insights and knowledge<br>
            from structured and unstructured data.<br>
            The course covers the fundamentals of statistics, data analysis,<br>
            machine learning, and data <br>
        </p>
    </div>

</div>
{% endblock %} 