{% extends 'base.html' %}
{% block content %}
<table>
    <tr>
        <th> <img style="margin-left:120px;" src="g b.jpg"></th>

        <th>
            <ul id="nav">
         <li><a href="www.Gracious.com" id="Gracious 1">HOME</a></li>
         <li><a class="dropdown-toggle" href="www.Gracious.com" id="Gracious 2">COURSES</a></li>
         <li><a href="www.Gracious.com" id="Gracious 3">ABOUT US</a></li>
         <li><a href="www.Gracious.com" id="Gracious 4">LOG IN</a></li>
         <li><a href="www.Gracious.com" id="Gracious 5">REGISTER</a></li>
            </ul>
        </th>

        <th><a style="margin-left:120px;" href="https://instagram.com"><img src="ig.JPG"></a></th>
    </tr>

</table>

<h4 style="text-align:center;">To The Heights By Hard Work</h4>

<div style="background-image:url('gracious.png'); height:50px;"><br><br>
<p style="font-size:45px; margin-left:250px;">
    CUTTING A<br>
    NEW<br>
    PATTERN FOR<br>
    THE EDUCATION<br>
    SECTOR<br>
</p>
</div>

<div>
    <p>
        
    </p>
</div>
{% endblock %}


